/* Tabs */
.tab {
    overflow: hidden;
    background-color: #f1f1f1;
}
  
.tab button {
    background-color: #f1f1f1;
    border-radius: 0%;
    float: left;
    outline: none;
    cursor: pointer;
    padding: 16px 16px;
    transition: 0.2s;
    font-size: 1.2em;
}
  
.tab button:hover {
    background-color: #404040;
    color: white
}
  

.tab button.active {
    background-color: #404040;
    color: white
}
  
.tabcontent {
    display: none;
    padding: 6px 12px;
    border-top: none;
  }
  

/* Glossar */
.big-letter{
    background: #800000;
    border-radius: 0.2em;
    margin: 12px 0 0 60px;
    padding: 0.5em 0.5em;
    display: block;
    width: 2em;
    text-align: center;
    font-family: 'Garamond', 'Georgia', serif;;
    font-size: 2em;
    color: #f1f1f1;
    box-shadow: 0.2em 0.2em 0.5em #404040;
}

.letters-bg{
    background-color: none;
    margin: 12px 0 0 0;
    padding: 0.5em 1.1em;
    text-align: center;
    font-size: 1.6em;
    word-spacing: 0.75em;
    line-height: 1.3em;
}

.glossary-bg {
    margin-left: 16px;
}

.glossary-bg ul{
    list-style-type: none;
    margin-left: 16px;
}

.glossary-bg ul h3{
    margin-left: 0;
}


