/* Glossar Navigation */
.glossary-nav ul {
    background-color: #f1f1f1;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    transition: 0.4s;
}
  
.glossary-nav ul li {
    float: left;
}
  
.glossary-nav ul li a {
    display: block;
    color: #404040;
    text-align: center;
    padding: 18px 16px;
    text-decoration: none;
}
  
.glossary-nav ul li a:hover {
    background-color: #404040;
    color: white
}
  
.glossary-nav .active {
    background-color: #ccc;
    color: #404040;
}

  
/* Akkordion */
/* Akkordion-Button (klappt den Inhalt auf) */
.accordion {
    background-color: #eee;
    color: #404040;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
}
  
.active, .accordion:hover {
    background-color: #ccc;
    color: #404040;
}

.accordion:after {
    content: "\002B";                                     /* Unicode character für + */
    color: #404040;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}
  
.accordion .active:after {
    content: "\2212";                                    /* Unicode character für - */
  }

/* Inhalt des Akkordions (per default versteckt) */
.panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}
  

/* Glossar */
/* Große Buchstaben als Begrenzung der Einträge */
.big-letter{
    background: #800000;
    border-radius: 0.2em;
    margin: 12px 0 0 60px;
    padding: 0.5em 0.5em;
    display: block;
    width: 2em;
    text-align: center;
    font-family: 'Garamond', 'Georgia', serif;;
    font-size: 2em;
    color: #f1f1f1;
    box-shadow: 0.2em 0.2em 0.5em #404040;
}

/* Alphabet mit Links zu den Einträgen */
.letters-bg{
    background-color: none;
    margin: 12px 0 0 0;
    padding: 0.5em 1.1em;
    text-align: center;
    font-size: 1.6em;
    word-spacing: 0.75em;
    line-height: 1.3em;
}

/* Einträge */
.glossary-bg {
    margin-left: 16px;
}

.glossary-bg ul{
    list-style-type: none;
    margin-left: 16px;
}

.glossary-bg ul h3{
    margin-left: 0;
}




