/* Navigationsleiste */

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #404040;
    z-index: 2;   
}
  
nav ul li{
    float: left;
    font-size: 1.2em;
}

nav ul li.right {
    float: right;                                   /* Login soll nach rechts ausgerichtet sein */
}  
  
nav ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 1em;
    text-decoration: none;
}
    
nav ul li a:hover {
    background-color: #800000;                     /* Mouse Hover: Ändern der Farbe */
}

/* Menü-Icon (nur bei kleinen Bildschirmen) */
nav ul li a.icon {
    display: none;                                   /* Icons per default verstecken */
    float: right;
}

nav ul li a.icon2 {
    display: none;
}

  
/* Dropdown */
nav .dropdown{
    display: inline-block;
}

nav .dropdown a.dropdown-item {
    background-color:#404040;
    color: white;
}

nav .dropdown a.dropdown-item:hover {
    background-color: #800000;                     
    color: white;
}
  
nav .dropdown:hover {
    background-color: #f9f9f9;
}
  
nav .dropdown-content {
    display: none;                                    /* bei default ausgeblendet, nur mit Mouse Hover sichtbar */
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    min-width: 10em;
    z-index: 2;                                       /* hoher z-index --> weiter im Vordergrund */
}
  
nav .dropdown-content a {
    color: #404040;
    padding: 0.8em;
    text-decoration: none;
    display: block;
    text-align: left;
}
  
nav .dropdown-content a:hover {
    background-color: #f1f1f1;
}

nav .dropdown:hover .dropdown-content{
    display: block;
}

/* Responsive Design */
@media screen and (max-width: 800px) {

    /* auf kleinen Bildschirmen Navigationsleiste ausblenden*/
    nav ul li a {display: none;}
    nav ul li a.right {display: none;}
    .dropdown {display: none;}
    .dropdown a.dropdown-item {display: none;}
    .dropdown:hover .dropdown-content {display: none;}

    /* Icons einblenden, die das Menü bei kleinen Bildschirmen öffnen und schließen */
    nav ul li a.icon {display: block;}

    nav ul li a.icon2 {display: none;}
}


/* Die Klasse "responsive" wird mit JavaScript hinzugefügt/wieder entfernt, wenn der User auf die Icons klickt */
/* Sie sorgt für eine vertikale Darstellung des Menüs auf kleinen Bildschirmen */
@media screen and (max-width: 800px) {

    nav.responsive ul {
        border: 1px groove #f9f9f9;                  /* Da auf mobilen Geräten der Mouse Hover nicht funktioniert: sichtbare Grenze zwischen den Menü-Items */
    }

    nav.responsive ul li {
        float: none;
        position: relative;
        display: block;
        border-bottom: 1px groove #f9f9f9;
    }

    nav.responsive ul li.right {
        float: none;
        display: block;
        border-bottom: none;
    }

    nav.responsive ul li:last-child {
        border-bottom: none;
    }

    nav.responsive a {
        float: none;
        display: block;
        text-align: center;
    }
 
    nav.responsive a.icon {
        display: none;
    }

    nav.responsive a.icon2 {
        float: center;
        display: block;
        width: auto;
    }

    nav.responsive .dropdown {
        float: none;
        display: block;
    }

    nav.responsive .dropdown a.dropdown-item {
        float: none;
        display: block;
        width: 100%;
        text-align: center;
    }

    /* Dropdown-Content ausblenden, da auf mobilen Geräten kein Mouse-Hover */
    /* Sonst wird die Leiste zu groß 
    /* Man könnte ihn aufklappbar machen, aber in dem Fall ist er nicht soo wichtig... */ 
    nav.responsive .dropdown-content {
        display: none;
    }

    nav.responsive .dropdown:hover .dropdown-content {
        display: none;
    }
}