/* Navigationsleiste */
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #404040;
    z-index: 2;   
}
  
nav ul li{
    float: left;
    font-size: 1.2em;
}

nav ul li.right {
    float: right;                                   /* Login soll nach rechts ausgerichtet sein */
}  
  
nav ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 1em;
    text-decoration: none;
}
    
nav ul li a:hover {
    background-color: black;                       /* Mouse Hover: Ändern der Farbe */
}
  
nav ul li a.active {
    background-color: #800000;                     /* aktive Seite markiert (Seite auf der man sich gerade befindet) */
}

/* Menü-Icon (nur bei kleinen Bildschirmen) */
nav ul li a.icon {
    display: none;                                   /* Icon per default verstecken */
  }

  
/* Dropdown */
nav .dropdown{
    display: inline-block;
}

nav .dropdown a.dropdown-item {
    background-color:#404040;
    color: white;
}

nav .dropdown a.dropdown-item:hover {
    background-color: black;   
    color: white;
}
  
nav .dropdown:hover {
    background-color: #f9f9f9;
}
  
nav .dropdown-content {
    display: none;                                    /* bei default ausgeblendet, nur mit Mouse Hover sichtbar */
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    min-width: 10em;
    z-index: 2;                                       /* hoher z-index --> weiter im Vordergrund */
}
  
nav .dropdown-content a {
    color: #404040;
    padding: 0.8em;
    text-decoration: none;
    display: block;
    text-align: left;
}
  
nav .dropdown-content a:hover {
    background-color: #f1f1f1;
}

nav .dropdown:hover .dropdown-content{
    display: block;
}

/* Responsive Design */
@media screen and (max-width: 700px) {

    /* auf kleinen Bildschirmen Navigationsleiste ausblenden*/
    nav ul li a {display: none;}
    nav ul li a.right {display: none;}
    .dropdown {display: none;}
    .dropdown a.dropdown-item {display: none;}
    .dropdown:hover .dropdown-content {display: none;}

    /* Icon einblenden, das das Menü bei kleinen Bildschirmen öffnet und schließt */
    nav ul li a.icon {
        display: block;
        float: center;
    }
}


/* Die Klasse "responsive" wird mit JavaScript hinzugefügt, wenn der User auf das Icon klickt */
/* Sie sorgt für eine vertikale Darstellung des Menüs auf kleinen Bildschirmen */
@media screen and (max-width: 700px) {

    nav.responsive ul li {
        float: none;
        position: relative;
        display: block;
    }

    nav.responsive ul li.right {
        float: none;
        display: block;
    }

    nav.responsive ul li a.icon {
        position: absolute;
        right: 0;
        top: 0;
    }

    nav.responsive a {
        float: none;
        display: block;
        text-align: center;
    }

    nav.responsive .dropdown {
        display: block;
        float: none;
    }

    nav.responsive .dropdown a.dropdown-item {
        display: block;
        width: 100%;
        text-align: center;
        float: none;
    }

    nav.responsive .dropdown-content {
        display: none;
    }

    nav.responsive .dropdown:hover .dropdown-content {
        display: none;
    }

    /*
    .navresponsive .dropdown-content-show {
        position: relative;
        display: block;
        width: 100%;
        text-align: center;
    }
    */
}


  
