/* allgemeiner Style */
body{
  background-color: white;  
  font-family: 'Helvetica', 'Verdana', sans-serif;      /* Alternativen, falls Helvetica nicht unterstützt wird */
  font-size: 100%;                                      /* default font-size in Prozent --> Responsive Design */
  color: #404040;
}

div{
  width: 16em;
  padding: 3em;
  margin: 1.2em;
}


/* Überschriften */
h1{
  font-family: 'Garamond', 'Georgia', serif;
  font-size: 3em;                                     /* em statt Pixel für Responsive Design */ 
  color: black;
}

h2{
  font-family: 'Garamond', 'Georgia', serif;
  font-size: 2em;                                      
}