/* allgemeiner Style */
body{
  background-color: white;  
  font-family: 'Helvetica', 'Verdana', sans-serif;      /* Alternativen, falls Helvetica nicht unterstützt wird */
  font-size: 100%;                                      /* default font-size in Prozent --> Responsive Design */
  color: #404040;
}


/* Überschriften */
h1{
  font-family: 'Garamond', 'Georgia', serif;
  font-size: 3em;                                      /* em statt Pixel für Responsive Design */ 
  color: black;
}

h2{
  font-family: 'Garamond', 'Georgia', serif;
  font-size: 2em;     
  color: black;                                 
}

h3{
  font-family: 'Garamond', 'Georgia', serif;
  font-size: 1.5em;  
  color: black;
}

h4{
  font-family: 'Garamond', 'Georgia', serif;
  font-size: 1.3em;  
  color: black;
}


/* Links */
a.link:link{
  text-decoration: none;
  color: #404040;
}

a.link:visited{
  color: #404040;
}

a.link:hover{
  color: black;
}

a.link:active{
  color: #800000;
}